@font-face {
	font-family: 'Decovar Regular24';
	src: url(../../assets/fonts/Decovar-VF.ttf?h=6fd5670a1255f274413fcda7fc2c99c6) format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: auto;
}