.tear {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 10em;
  height: 10em;
  border: none;
  -webkit-border-radius: 100% 0 100% 100% / 100%;
  border-radius: 100% 0 100% 100% / 100%;
  font: normal 100%/normal Arial, Helvetica, sans-serif;
  color: rgba(0,0,0,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: #1abc9c;
  -webkit-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
}

.text-tear {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

